/* Spis css

1.Globalne
2.kolumny



belka z menu

*/

.color {
    color: #e30613;
    color: #f7941d;
    color: #004996;
    color: #333333;
    color: #bbbbbb;
    color: #eeeeee;
    color: #000000;
}


html {
    background-color: #bbbbbb;
}

body {
    margin: 0;
    font-family: 'geomanistregular';
    background-color: #bbbbbb;
}

h1 {
    font-size: 36px;
}

h2 {
    font-family: 'geomanistbold';
    font-size: 36px;
    font-weight: bolder;
}

h3 {
    font-size: 20px;
}

h6 {
    font-weight: bold;
    color: #ffffff;
    display: inline;
    font-size: 14px;

}

* {
    box-sizing: border-box;
}

.container {
    width: 1143px;
    margin: 0 auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

.in_line {
    display: inline-block;
}


/*=======================================================
      kolumny
========================================================*/

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 0;
}

/*=======================================================
      belka z menu
========================================================*/

.stickyMenu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100000;
}

#header.stickyMenu .minisearch {
    visibility: visible;
    padding: -10px 0 0 20px;

}

#header .minisearch {
    visibility: hidden;
}


#header.stickyMenu {
    background: #fff;
    padding: -10px 0 -10px 0;
}

#header.stickyMenu .logomenu {
    height: 26px;
    width: 163px;
    padding: 0;
}

#header.stickyMenu .search {
    visibility: hidden;
    display: none;
}


#header.stickyMenu .cart {
    padding-top: 20px;
}

#header.stickyMenu .menuhidden {
    visibility: hidden;
    display: none;
}

.logo_nav {
    float: right;
    margin-right: 10%;
}

.navbar_top {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    height: 35px;
    border: none;
    background: -webkit-linear-gradient(0deg, rgb(227, 6, 19) 0, rgb(227, 6, 19) 80%, #004996 82%, #004996 100%);
    background: -moz-linear-gradient(90deg, rgb(227, 6, 19) 0, rgb(227, 6, 19) 80%, #004996 82%, #004996 100%);
    background: linear-gradient(90deg, rgb(227, 6, 19) 0, rgb(227, 6, 19) 80%, #004996 82%, #004996 100%);
    background-repeat: no-repeat;
    background-position: 89% 50%, 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
}

header section {
    padding-bottom: 20px;
}

header {
    background-color: #fff;
}

.logo {
    padding: 30px;
}


/*****************************/

section.search {
    margin-top: -62px;
}


/* Flip */

/*****************************/

.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
}

/* Nav */

.tabs nav {
    text-align: center;
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
}

.tabs nav a span {
    vertical-align: middle;
    font-size: 0.75em;
}

.tabs nav li.tab-current a {
    color: #74777b;
}

.tabs nav a:focus {
    outline: none;
}

/* Icons */

.icon::before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'stroke7pixeden';
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-car::before {
    content: url(../assets/samochodowe.png);
}

.icon-tractor::before {
    content: url(../assets/rolnicze.png);
}

.icon-tir::before {
    content: url(../assets/przemys-owe.png);
}


/* Content wyszukiwarka */

.button-search {
    height: 81px;
    width: 119px;
    margin: 26px;
    text-transform: uppercase;
    background: #bbb;
    color: #000;
    text-align: center;
    text-decoration: none;

}

.button-search .fa {
    font-size: 18px;
}

.button-search-top {
    text-transform: uppercase;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 1, 0.5);
    background-color: #f7941d;
    border-radius: 50%;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    left: 0;
    top: 0;
}

.content-wrap {
    position: relative;
}

.panel {
    margin: 15px;
    background-image: -webkit-gradient(linear, left top, right top, from(#dddddd), to(#eeeeee));
    background-image: linear-gradient(to right, #dddddd 0%, #eeeeee 100%);
    font-size: 14px;
}

.panel-default {
    border-color: #ddd;
}

.panel-body {
    padding: 15px;

}

.form-group {
    margin-bottom: 15px;
    margin-right: 22px;
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-control-all {
    display: inline-block;
    width: 337px;
    height: 43px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control {
    display: inline-block;
    width: 99px;
    height: 43px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.content-wrap section {
    display: none;
    margin: -20px auto;
    max-width: 1200px;
    margin-bottom: 100px text-align: center;
    -webkit-box-shadow: 0 2px 2px 1px rgba(89, 89, 89, 1);
    -moz-box-shadow: 0 2px 2px 1px rgba(89, 89, 89, 1);
    box-shadow: 0 2px 2px 1px rgba(89, 89, 89, 1);
}

.content-wrap section.content-current {
    display: block;
}

.content-wrap section p {
    margin: 0;
    padding: 5px 0;
    line-height: 1;
}


/*zakres cen*/

.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.no-flexbox nav ul {
    display: block;
}

.no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block;
}

/*media taby*/

@media screen and (max-width: 58em) {
    .tabs nav a.icon span {
        display: none;
    }
    .tabs nav a:before {
        margin-right: 0;
    }
}

.tabs-style-flip {
    max-width: 1140px;
}

.tabs-style-flip nav a {
    font-size: 22px;
    color: #333333;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 16px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.tabs-style-flip nav a:hover,
.tabs-style-flip nav a:focus,
.tabs-style-flip nav li.tab-current a {
    color: #000000;
}

.tabs-style-flip nav a span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.625em;
}

.tabs-style-flip nav a::after {
    color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    content: '';
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%;
}

.tabs-style-flip nav li.tab-current a::after {
    background-color: #eeeeee;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
}

.tabs-style-flip .content-wrap {
    background: #eeeeee;
}



/* Style for "tło nazwy" */

.name_product {
    width: 1143px;
    height: 78px;
    background-color: #eeeeee;
    background-image: linear-gradient(to left, #ffffff 0%, #dddddd 100%);
    position:
}

.product_content {
    height: 215px;
    background-color: #ffffff;
    position: relative;
}

.best {
    position: absolute;
    margin-left: -10px;
    bottom: -10px;
    z-index: 50;
}

.image_product {
    position: absolute;
    padding-left: 20px;
    bottom: -2px;
}

.position {
    position: static;
}


.phone {
    padding: 39px 0 0 40px;
    text-align: center;
    font-size: 16px;
}

.cart {
    bottom: 0;
    padding: 39px 40px 0 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    float: right;
}

.navbar .phone .fa {
    height: 16px;
    color: #e30613;
    padding: 0 10px 0 10px;
}

ul {
    margin-left: 0;
    padding: 0;
}

.question,
.answer {
    list-style-type: none;
}

.question {
    padding: 1em 1em 0.5em 14em;
    font-weight: bold;
    position: relative;
}

ul:last-child {
    border-bottom: 1px solid grey;
}

.question:hover {
    cursor: pointer;
}

.answer {
    display: none;
    padding: 1em 0.5em 2.5em;
}

.expand-bar {
    position: absolute;
    top: 50%;
    left: 180px;
    transition: all 0.5s ease;
}

.expand-bar,
.expand-bar:after {
    width: 10px;
    height: 2px;
    background-color: #004996;
}

.expand-bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(90deg);
    transition: all 0.5s ease;
}

.open {
    border-bottom: none;
}

.open .expand-bar {
    transform: rotate(180deg);
}

.open .expand-bar:after {
    transform: rotate(180deg);
}

.search-adv {
    color: #01539e;
    font-size: 14px;
    font-weight: 600;
}

/*=======================================================
4. Kafle
========================================================*/

/* promocyjne ikony*/

/*grid js z klasą grid-group-inset*/

/* promocyjne ikony*/

.inset.grid-group-inset.name-product > .promo {
    float: right;
    top: 0;
    right: 0;
}

.inset.grid-group-inset .new {
    margin: 10px 0 -45px 200px;
    padding: 2px 3px 2px 3px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e30613;
    color: #e30613;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}


.inset.grid-group-inset h5 {
    visibility: hidden;
    display: none;
}

.inset.grid-group-inset .promo_icon_gift {
    width: 53px;
    height: 53px;
    color: #ffffff;
    background-color: #004996;
    float: right;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.inset.grid-group-inset .promo_recommend {
    width: 53px;
    height: 53px;
    background-color: #f26522;
    float: right;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.inset.grid-group-inset .promo_sale {
    width: 53px;
    height: 53px;
    background-color: #f7941d;
    float: right;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.inset.grid-group-inset .name-product {
    padding: 0;
    margin: 0;
    height: 78px;
    width: 100%;
    background-color: #eeeeee;
    background-image: linear-gradient(to left, #ffffff 0%, #dddddd 100%);

}

.inset.grid-group-inset .name-product > .name {

    top: 0;
    margin-left: 0;
}

.inset.grid-group-inset .name-product > .name > h2 {
    padding: 0;
}

.inset.grid-group-inset .name-product > .name > h3 {
    padding: 0;
}

.inset.grid-group-inset .product_content {
    height: 215px;
    background-color: #ffffff;

}

.inset.grid-group-inset .best {
    margin-left: -10px;
    bottom: -10px;
    z-index: 50;
}

.inset.grid-group-inset .image_product {
    left: 0;
    bottom: -2px;
}

.inset.grid-group-inset .miniature {
    width: 100%;
    background: #fff;
    border: none;
    padding: 0;
    margin: 20px;
}



.list-group-inset-text {
    margin: 0;
}

.inset.grid-group-inset .like {
    margin: 0;
    width: 184px;
    height: 78px;
    background-image: url(../assets/button_ok.svg)
}

.inset.grid-group-inset .name-product > h6 {
    padding: 20px 0 20px 20px;
}



/*lista js z klasą list-group-inset*/

/* promocyjne ikony*/

.inset.list-group-inset h5 {
    visibility: visible;
    display: inline;
}



.inset.list-group-inset.name-product .promo {
    float: right;
    top: 0;
    right: 0;

}



.inset.list-group-inset .new {
    margin: 10px 0 -45px 200px;
    padding: 2px 3px 2px 3px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e30613;
    color: #e30613;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.inset.list-group-inset .promo_recommend {
    width: 104px;
    height: 78px;
    background-color: #f26522;
    float: right;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    margin: auto;
}

.inset.list-group-inset .promo_sale {
    width: 104px;
    height: 78px;
    background-color: #f7941d;
    float: right;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.inset.list-group-inset .promo_icon_gift {
    width: 104px;
    height: 78px;
    color: #ffffff;
    background-color: #004996;
    float: right;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.inset.list-group-inset .name-product {
    padding: 0;
    margin: 0;
    height: 78px;
    width: 100%;
    background-color: #eeeeee;
    background-image: linear-gradient(to left, #ffffff 0%, #dddddd 100%);

}

.inset.list-group-inset .name-product > .name {

    top: 0;
    margin-left: 0;
}

.inset.list-group-inset .name-product > .name > h2 {
    padding: 0;
}

.inset.list-group-inset .name-product > .name > h3 {
    padding: 0;
}

.inset.list-group-inset .product_content {
    height: 215px;
    background-color: #ffffff;
}

.inset.list-group-inset .best {
    margin-left: -10px;
    bottom: -10px;
    z-index: 50;
}

.inset.list-group-inset .image_product {
    left: 0;
    bottom: -2px;
}

.inset.list-group-inset {
    float: none;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

.inset.list-group-inset .list-group-image {
    margin-right: 0;
    border: none;
}

.inset.list-group-inset .like {

    width: 184px;
    height: 78px;
    background-image: url(../assets/button_ok.svg)
}

.inset.list-group-inset .name-product > h6 {
    padding: 20px 0 20px 20px;
}


.inset.list-group-inset .miniature {
    padding: 0;
    margin-bottom: 0;
    border: none;
    background: #ffffff;
}

.inset.list-group-inset .caption {
    padding: 0000;
    border: none;
}


.inset.list-group-inset:before,
.inset.list-group-inset:after {
    display: table;
    content: " ";
}

.inset.list-group-inset img {
    float: left;
}

.inset.list-group-inset:after {
    clear: both;
}



.footer {
    background-color: #f8f8f8;
    color: white;
    padding: 40px;
    margin-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.footer ul {
    list-style-type: none;
    font-size: 14px;
}

.footer h1 {
    display: inline-block;
    position: relative;
    font-size: 18px;
}



.sm-icons .fa {
    background-color: #00C7E8;
    color: white;
    padding: 2%;
    margin: 0 auto;
}

.td-bold {
    font-weight: 600;
}

td {
    padding: 20px;
    margin: 20px;
}

.footer p {
    color: white;
    font-size: 15px;
}

.final {
    background-color: #bbbbbb;
    padding: 20;
    margin: 0;
    height: 40px;
    font-size: 14px;
    color: white;
    text-align: center;
}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
